body{
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #C1A3A3;
}
.head{
  padding: 5rem;
  font-family: 'Varela Round', sans-serif;
}
.heading{
  font-size: 5rem;
  margin: 0;
  display:inline-block;
  vertical-align:middle;
}

/* .image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  display:inline-block;
  vertical-align:middle;
} */

.para{
  font-weight: lighter;
}

.main {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.image {
  width: 25%;
  float: left;
  margin-right: 30px;
}

@media screen and (max-width: 767px) {
  .heading {
    font-size: 6rem;
    margin: 0;
  }

  .image {
    display: block;
    width: 40%;
    height: 40%;
  }
}

@media screen and (max-width: 480px) {
  .main {
  margin: 40px 40px;
  }

  .heading {
    font-size: 3.5rem;
    margin: 0;
    position: relative;
  }

  .image {
    width: 50%;
    height: 50%;
    margin: 0;
  }


}
